.about-wrapper {
  width: 100%;
  min-height: 880px;
  display: flex;
  flex-direction: column;
  background-image: url("../../assets/images/about background.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.about-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  place-items: center;
  margin: 2rem;
}

.about-me-header {
  color: var(--cyan);
  padding: 3rem;
  filter: drop-shadow(3px 2px 1px var(--dark-fade-bg));
}

.about-me-text {
  width: 100%;
  text-align: center;
  padding: 3rem;
  max-width: 40rem;
  background-color: var(--dark-fade-bg);
}

.about-me-text p {
  color: rgb(0, 255, 255);
  padding: 1rem;
  filter: drop-shadow(3px 2px 2px var(--dark-bg));
}

.buttons {
  display: flex;
  flex-direction: column;
  place-items: center;
  width: 100%;
  gap: 0.5rem;
}

.buttons button {
  background-color: var(--dark-bg);
}

.buttons a {
  text-decoration: none;
  color: var(--cyan);
}

.resumeDownload {
  width: 10rem;
}
