.about-wrapper {
  height: 90%;
  width: 100%;
  position: relative;
  overflow: hidden;
}

.about-img {
  width: 100%;
}

.about-content {
  width: 100vw;
  position: fixed;
  height: 35rem;
  left: 50%;
  transform: translateX(-18%);
}

.about-content h1 {
  color: var(--cyan);
  padding: 3rem;
  margin-left: 11rem;
  filter: drop-shadow(3px 2px 1px var(--dark-fade-bg));
}

.content-about {
  width: 100%;
  text-align: center;
  position: fixed;
  padding: 3rem;
  max-width: 40rem;
  background-color: var(--dark-fade-bg);
}

.content-about p {
  color: rgb(0, 255, 255);
  filter: drop-shadow(3px 2px 2px var(--dark-bg));
}

.buttons {
  display: flex;
  flex-direction: column;
  width: 40rem;
}

.resumeDownload {
  width: 10rem;
  left: 50%;
  transform: translateX(115%);
}
