.position-fixed {
  width: 100%;
  height: 100vh;
}

.particles-wrapper {
  position: absolute;
  z-index: -1;
}

.home-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.back {
  position: absolute;
  bottom: 2rem;
  left: 5rem;
}

.takeMeBack {
  padding: 1rem;
  width: 8rem;
  background-color: transparent;
  color: cyan;
}

.takeMeBack:hover {
  background-color: rgb(14, 46, 50);
  color: white;
}

.home-content {
  display: flex;
  flex-direction: column;
  width: 30rem;
  height: 15rem;
  text-align: center;
  justify-content: center;
  background-color: var(--light-fade-bg);
}

.home-content h1 {
  color: #cff9fc;
}

.home-content h3 {
  color: #cff9fc;
}

.white-logo-img {
  width: 5rem;
}

@media screen and (max-width: 850px) {
  .home-content {
    width: 70%;
  }
}

@media screen and (max-width: 600px) {
  .home-content {
    width: 90%;
  }
}
