.footer-wrapper {
  background-color: var(--dark-bg);
  color: var(--cyan);
  display: grid;
  padding: 3rem;
  margin-top: auto;
  grid-template-columns: 25% 50% 25%;
  border-top: 2px solid var(--cyan);
  max-height: 100%;
  justify-content: center;
}

.footer-socials {
  margin-left: 70%;
}

.footer-content {
  text-align: center;
}

.footer-content h1 {
  padding-bottom: 3rem;
}

.copy {
  display: grid;
  grid-template-columns: 100%;
  align-items: center;
}

.contact-footer-btn {
  display: flex;
  margin-top: 2rem;
  gap: 4rem;
}

.contact-btn {
  background-color: var(--light-fade-bg);
  color: var(--cyan);
  margin-top: 2rem;
}

.contact-btn:hover {
  background-color: var(--btnhvr);
  color: var(--white);
}

.cyan-logo-img {
  width: 5rem;
}

@media screen and (max-width: 850px) {
  .footer-wrapper {
    padding: 2rem;
    padding-bottom: 10rem;
    max-height: 20rem;
  }

  .footer-socials {
    margin-left: 2rem;
  }
}

@media screen and (max-width: 600px) {
  .footer-wrapper {
    display: flex;
    flex-direction: column;
    padding: 0;
    height: 100%;
    align-items: center;
    padding-bottom: 10rem;
    max-height: 100%;
  }

  .footer-content h1 {
    padding: 0;
  }

  .cyan-logo-img {
    display: none;
  }

  .footer-socials {
    display: flex;
    flex-direction: row;
    padding: 1.5rem;
    gap: 4rem;
    margin: 0;
    margin-top: 1rem;
  }

  .contact-footer-btn {
    gap: 0;
    margin-top: 0;
  }
}
