.splash-wrapper {
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: var(--navy);
  text-align: center;
  justify-content: center;
}

.white-logo {
  padding-bottom: 10rem;
}

.splash-wrapper h2 {
  color: var(--white);
}

.buttons {
  display: flex;
  flex-direction: column;
  place-items: center;
  width: 100%;
  gap: 0.5rem;
}

.buttons button {
  background-color: var(--dark-bg);
  text-decoration: none;
  color: var(--cyan);
}

.summary,
.fullSite {
  width: 20rem;
  padding: 1rem;
}

.summary:hover,
.fullSite:hover {
  background-color: rgb(6, 38, 42);
  color: white;
}
