:root {
  --dark-bg: rgb(24, 24, 24);
  --gold: rgb(244, 191, 14);
  --cyan: cyan;
  --dark-fade-bg: rgba(24, 24, 24, 0.503);
  --light-fade-bg: rgba(131, 131, 131, 0.486);
  --white: rgb(242, 242, 242);
}

body {
  height: 100vh;
  background-color: var(--dark-bg);
}
