@import url("https://fonts.googleapis.com/css2?family=Ysabeau:wght@200;300&display=swap");

:root {
  --dark-bg: #181818;
  --gold: #f4bf0e;
  --cyan: #00ffff;
  --navy: rgb(5, 37, 51);
  --dark-fade-bg: rgba(24, 24, 24, 0.503);
  --charcoal: rgb(40, 38, 38);
  --light-fade-bg: rgba(131, 131, 131, 0.486);
  --white: rgb(242, 242, 242);
  --btnhvr: #006f6f;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Ysabeau", sans-serif;
  height: 100vh;
  background-color: var(--dark-bg);
}

.exp-second {
  padding: 10rem;
}

.timeline {
  transform: translateX(100%);
}

.btn {
  border-radius: 0;
}
