@import url("https://fonts.googleapis.com/css2?family=Ysabeau:wght@200;300&display=swap");

:root {
  --dark-bg: #181818;
  --gold: #f4bf0e;
  --cyan: #00ffff;
  --navy: rgb(6, 49, 63);
  --dark-fade-bg: rgba(24, 24, 24, 0.643);
  --charcoal: rgb(31, 30, 30);
  --light-fade-bg: rgba(131, 131, 131, 0.486);
  --white: rgb(231, 231, 231);
  --btnhvr: #006767;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Ysabeau", sans-serif;
  height: 100vh;
  background-color: var(--dark-bg);
}

.btn {
  border-radius: 0;
}
